name: second-workflow
on: 
  push:
    branches:
      - main
jobs:
    first-job:
        runs-on: ubuntu-latest
        steps:
            - name: print greetings
              run: echo "hello world"
            - name: print goodbye
              run: echo "good bye"

            
